# Parola pentru utilizatorul SYS al bazei de date Oracle
# Modifica daca doresti, dar pastreaza minim 8 caractere, 1 cifra, 1 caracter special
ORACLE_PWD=DemoPass123

# Numele containerului Docker
ORACLE_CONTAINER_NAME=oracle-23ai-demo

# Parola pentru utilizatorul aplicativ vecuser (folosita in scripturile SQL si Python)
VECUSER_PWD=VecUser123
